body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin-top: 0px;
    
}
/* ---------------------
    This is Top Part 
------------------------*/
main{
    /* display: flex;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    align-items: center;
    background-color: #2D25A0;
    width: 1350px;
    height: 450px;
    padding: 150px 150px 150px 150px;
   
}
.top-part-element{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 200px;
   
}

.top-left h1{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    width: 485px;
    height: 230px;

}

.top-p{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 1px 20px 8px 50px;
    
    
}


.top-left p{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    
}
.top-p a{
    text-decoration: none;
    color:white;
}

.top-p p:hover{
    transform: scale(1.5);
    transition-duration: 2s;
    
}

.top-right img{
    width: 556px;
    height: 438px;
}

/* ---------------------------
    This is Middle part-1
------------------------------ */
